* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-family: 'Raleway', sans-serif;
}

.row {
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.width50{
    width: 50%;
}

.column{
    display: flex;
    flex-direction: column;
}

flex50{
    flex-basis:50%;
}

.white{
    color: white;
}

.back{
    color: #000000;
}

.justify-center{
    justify-content: center;
}

.justify-space-bw{
    justify-content: space-between;
}

.justify-space-a{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.grid{
    display: grid;
}

.heigth100{
    height: 100%;
}

.columns-3{
    grid-template-columns: 1fr 1fr 1fr;
}

ul{
    list-style-type: none;
}

.width100 {
    width: 100%;
}

nav{
    background-color: #000000;
    width: 100%;
    position: absolute;
}

nav li {
    padding: 26px;
}

header >div {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: bottom;
    height: 1000px;
    padding: 200px 0;
}

h1 span{
    font-family: 'Monoton', cursive;
    font-size: 130px;
    font-weight: 400;
}

h4{
    font-size: 30px;
}

.section-1{
    padding: 20px;
    background-color: #ffffff;
}
.padding20{
    padding: 20px;
}

.section-1 .column{
    padding: 5px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 2px;
}

.imagen{
    height: 350px;
    background-size: cover;
    background-position: center;
}

#img1{
    background-image: url(img/feauture1.jpg);
}

#img2{
    background-image: url(img/feauture2.jpg);
}

#img3{
    background-image: url(img/feauture3.jpg);
}

#img4{
    background-image: url(img/feauture4.jpg);
}

#img5{
    background-image: url(img/feauture5.jpg);
}

#img6{
    background-image: url(img/feauture6.jpg);
}

.section-1 p{
    margin: 20px 0;
}

.button {
    width: 90%;
    background-color: orange;
    color: white;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    font-weight: 400;
    margin: 0 5%;
}

.button:hover{
    background-color: #ffffff;
    color: orange;
    border: #ffffff;
}

.section-2{
    background-image: url(/home/estudiante/Descargas/contacus.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
}

.section-2 form{
    border-radius: 10px;
    padding: 5%;
}

.section-2 .row > div{
    padding: 30px 50px;
}

.section-2 .row > div > div{
    padding: 30px 50px;
}

.bg-w-opacity{
    background-color: #00000057;
    border-radius: 20px;
}

.row form input{
    height: 30px;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff;
}
form button{
    margin: 3% 5%;
}

.section-2 p{
    font-size: 25px;
}

.section-2 label{
    font-size: 40px;
}

#comentarios {
    height: 250px
}

footer{
    color: white;
    background-color: #000000;
    padding: 10px 20px;
}

footer li{
    margin-left: 15px;
    font-size: 20px;
}

.more{
    margin: auto;
}

footer h3 {
    font-size: 40px;
}

@media screen and (max-width: 1000px) {
    .section-2{

    }
}